<div id="artistsWrapper">
	
	<% @artists.each do | artist |%>
		
		<h3> <%= artist.name %> </h3>

		<ul>

			<% artist.albums.each do | album | %>

				<li>

					<%= link_to album.title, artist_album_path(artist, album) %>

				</li>

			<% end %>

		</ul>
		
	<% end %>
</div>