/* line 2, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#forums_title {
  font-family: "Helvetica Neue", Helvetica !important;
}

/* line 7, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#forums_container {
  margin: 30px;
}
/* line 11, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#forums_container table {
  width: 75%;
}

/* line 17, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
.forum {
  margin: 30px;
}
/* line 23, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
.forum table th {
  text-align: left !important;
}
/* line 28, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
.forum table tbody td {
  text-align: left !important;
}

/* line 35, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#topic {
  margin-left: 30px;
  width: 75%;
}
/* line 40, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#topic .icon img {
  width: 100px;
  height: auto;
}
/* line 46, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#topic .username {
  text-align: center;
  font-size: 18px;
  word-wrap: break-word;
  max-width: 105px;
  font-weight: bold;
}
/* line 54, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#topic .username a {
  color: black !important;
}
/* line 60, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#topic .row {
  margin: 20px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 5px 5px 5px lightgrey;
}
/* line 69, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#topic .froala-view img.fr-fin {
  max-width: 100%;
}

/* line 75, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#forum {
  margin-left: 30px;
}
/* line 79, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#forum h2 {
  margin-left: 30px;
}
/* line 84, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#forum .icon img {
  width: 100px;
  height: auto;
}

/* line 91, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#new_topic {
  margin-left: 30px;
  width: 75%;
}
/* line 96, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#new_topic #topic_subject {
  width: 100%;
  border-radius: 5px;
}

/* line 105, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#new_post label.text.required {
  display: none;
}
/* line 110, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#new_post textarea {
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
}
/* line 117, /Users/georgeslater/Documents/obskie/app/assets/stylesheets/forem.css.scss */
#new_post input[type="submit"] {
  margin: 15px 0 30px 5%;
}
