<% if can?(:read, category) %>
  <div id='category_<%= category.id %>' class='category'>
    <h4><%= forem_emojify(category.name) %></h4>
    <%= render "/forem/forums/listing", :category => category %>
  </div>
<% end %>
