<% if current_user.try(:admin?) %>

	<table>

		<% @nonApproved.each do | albumToApprove | %>
		
			<tr>
				<td><%= albumToApprove.body %></td>
				<td><%= albumToApprove.user.username %></td>
				<td><%= link_to 'Approve', approve_album_path(albumToApprove), method: :patch %> | <%= link_to 'Reject', reject_album_path(albumToApprove), method: :patch %></td>
			</tr>

		<% end %>

	</table>
<% else %>
	<div class="alert alert-danger" role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  You don't have permission to view this page!
	</div>
<% end %>
