<div id="basic_info">

	<div class="jumbotron">
	  <p>Thank you for contributing to ObscureAlbums.com!  Please enter the album information below and select the correct match from the results returned.  If the album you want isn't there or the artist's list is empty, please <%= link_to 'reach out to us', new_contact_path %>.</p>
	</div>
	<div class="album_wizard" style="margin-right: 30px;">
		  <div id="trackResultsWrapper">
		  	<div>
			  	<span style="font-weight: bold;">Track Listing</span>
			  	<ol id="trackResults" style="padding:0;" >
				</ol>
			</div>
		  </div>
		  <div class="field">
		    <label for="artist">Enter Artist Name:</label>
		    <input id="artist">
			 <button onclick="getArtists();">Search</button>
		  </div>

		  <div id="artistResultsWrapper" style="display: none;">
		  	<label for="artistResults">Select Artist:</label>
		  	<select id="artistResults">

		  	</select>
		  	<button onclick="getAlbums();">Get Album List</button>
		  </div>

		  <div id="albumResultsWrapper"  style="display: none;">
			  <label for="albumResults">Albums:</label>
			  <select id="albumResults">

			  		
			  </select>
			  <button onclick="getTracks();">Check Tracks</button>
		  </div>

		<button id="submitAlbum" onclick="submit();" style="display: none;">This is my album!</button>
		<input id="artistName" type="hidden">
	</div>
</div>

<script>
	
	function submit(){

		var $albumSel = $('#albumResults option:selected');

		if($albumSel){

			var id = $albumSel.data('mbid');
			var artistName = $('#artistName').val();

			$.ajax({
		      type: 'GET',
		      url: '/submitAlbum',
		      data: {
		        album_selected: id,
		        artist_selected: artistName
		      },
		      dataType: "json",
		      success: function(result) {
		      	window.location = result['link'];
		      },
		      error: function (jqXHR, status, err) {
			    alert(err);
			  }
		   });
		}
	}

	function getAlbums(){

		var $artistSel = $('#artistResults option:selected');
		
		if($artistSel){
			
			var id = $artistSel.data('mbid');

			$('#artistName').val($artistSel.val());

			$.ajax({
		      type: 'GET',
		      url: '/search/albums',
		      data: {
		        artist_selected: id
		      },
		      format: 'js',
		      success: function(result) {
		      			      	
		      	var html = '';

		      	for(var i = 0; i < result.length; i++){

		      		album = result[i];
		      		html += "<option data-mbid='"+album['id']+"'>"+album['title']+"</option>"
		      	}

		      	$('#albumResults').html(html);
		      	$('#trackResults').empty();
		      	$('#albumResultsWrapper').css('display', 'block');
		      	$('#submitAlbum').css('display', 'block');
		      }
		   });
		}
	}

	function getTracks(){

		var $albumSel = $('#albumResults option:selected');
		
		if($albumSel){
			
			var id = $albumSel.data('mbid');

			$.ajax({
		      type: 'GET',
		      url: '/search/tracks',
		      data: {
		        album_selected: id
		      },
		      format: 'js',
		      success: function(result) {
		      	
		      	var html = "";
		      	for(var i = 0; i < result.length; i++){

		      		track = result[i];
		      		html += "<li>"+track['title']+"</li>";
		      	}

		      	$('#trackResults').html(html);
		      	$('#trackResultsWrapper').css('display', 'block');
		      }
		   });
		}
	} 

	function getArtists(){

		var artistName = $('#artist').val();

		if(artistName && artistName.trim().length){

			$.ajax({
		      type: 'GET',
		      url: '/search/artists',
		      data: {
		        artist: artistName,
		      },
		      format: 'js',
		      success: function(result) {
		      	
		      	var html = '';

		      	for(var i = 0; i < result.length; i++){

		      		artist = result[i];
		      		html += "<option data-mbid='"+artist['mbid']+"'>"+artist['name']+"</option>"
		      	}

		      	$('#artistResults').html(html);
		      	$('#trackResults').empty();
		      	$('#albumResults').empty();
		      	$('#artistResultsWrapper').css('display', 'block');
		      	$('#albumResultsWrapper').css('display', 'none');
		      	$('#trackResultsWrapper').css('display', 'none');
		      	$('#submitAlbum').css('display', 'none');
		      }
		   });

		}else{

			alert('Please fill in all fields!');
		}

	}
</script>
