
div#error_explanation{
  
  margin-bottom: 20px;

  h2{
  
    font-size: 20px;
    color: red;
  }
}

#manualSection{
  
  display: none;
}

.jumbotron p{
  
  margin-left: 30px;
  margin-right: 30px;
}

#obscurometer{
  
  display:inline-block;

  h6{

    display: inline-block;
    margin-right: 5px;
  }
}

.albumImage{
  
  display: inline-block;
  vertical-align: top;
  padding: 10px;



  figure img{
    width: 200px;
    height:200px;
  }
  figcaption{
    max-width: 200px;
    text-align: center;
    font-size: 14px;
    background-color: black;
    color: white
  }

  .albumCaption{

     padding: 2px 5px;
  }

  .albumCaptionTitle{

    font-size: 17px;
    font-style: italic;
  }

  .albumCaptionArtist{

    font-size: 16px;
    padding-top: 5px;
  }

  .albumCaptionYear{

    font-size: 12px;
    min-height: 21px;
  }
}

.albumInfo td {
  font-size: 14px;
}

.albumInfo td:first-child{
  
  max-width: 200px;
}

.albumInfo table {
  width: 100%;
}

.albumHeader {
  display: inline-block;
  width: 38%;
}

.socialMediaLinks {
  margin-top: 25px;
  li {
    float: right;
  }
  a {
    height: 32px;
    width: 32px;
    margin-right: 5px;
    float: right;
  }
}

#albumIndexWrapper{
  
  position: relative;
  margin-top: 30px;
  margin-left: 10px;

  a{

    text-decoration: none;
  }

  #sortBy{

    position: absolute;
    top: -20px;
    right: 10px;
  }
}

.spotify {
    background:asset-url('/images/spotify.png') no-repeat;
}

.rdio_small{
  
  background:asset-url('/images/rdio_small.png') no-repeat;
}  

.streamBuyLinks {
  height: 35px;
}

.albumLinkIcons {
  background-size: 16px;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  float: left;
  margin-left: 4px;
}

.rightPanel {
  width: 33%;
  margin-right: 2%;
  float: right;
}

.albumArt img {
  float: left;
  padding-right: 5%;
}

.trackTitle {
  float: left;
}

//shareable
nav.share {display:inline-block;position:absolute;bottom:0;} /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;left:-8px;margin-right:-30px;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top !important; }
.fb_edge_widget_with_comment { vertical-align: top !important;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/

.content {
  text-align: justify;
  font-size: 16px;
  line-height: 1.7em;
  margin-top: 30px;
  min-height:175px;
  position:relative;
}

#contentWrapper{
  
  margin-left: 3%;
  width: 97%;
}

#leftPanel {
  float: left;
  max-width: 63%;
  border-right: 1px solid lightgray;
  padding-right: 3%;
}

#authorNumReviews {
  margin-left: -2px;
}

#authorInfo {
  float:right;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 7px;
  margin-top:20px;
}

.authorIcons{
  
  margin-top:5px;
}

.authorIcon{
  
  margin-right: 3px;
}

.authorName {
  font-weight: bold;
}

.authorDetail {
  float: left;
  margin-left: 5px;
}

.albumInfo {
  margin: 40px 0 40px 0;
}

.postTitle {
  margin-top: 15px;
}

#relatedPostsImages {
  text-align: center;
  figure {
    width: 29%;
    height: auto;
    margin-left: 1%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
  }
  img {
    
    width:130px;
  }
}

#authorPhoto {
  width: 50px;
  height: 50px;
  float: left;
}

td:not(:first-child), th:not(:first-child) {
  text-align: center;
}

#mostList {
  a {
    color: black !important;
  }
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .rightPanel {
    display: none;
  }
  #leftPanel {
    border-right: none;
    max-width: 100%;
    margin-left: 2%;
  }
}

#contentWrapper a {
  color: black !important;
  text-decoration: none !important;
  &:hover {
    color: #428bca;
  }
}

#albumsLinks {
  float: right;
}

.displayName{

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 35px;
  margin-top: 2px;
}

.albumArt img {
  width: 22vw;
  width: 250px;
}

#mostList li.active {
  font-weight: bold;
}

figcaption {
  font-family: 'Vollkorn', serif;
  font-size: 18px;
}

.mostRow {
  line-height: 2em;

  a{

    float: left;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.mouldingImage{
  
  height: 35px;
}


.externalLink{
  
  display: inline-block;
  overflow:hidden;
  width:24px;
  height:24px;
  background-size:24px;
}

.itunes{

  background:asset-url('/images/itunes.png') no-repeat;
}

.amazon{

    background:asset-url('/images/amazon.png') no-repeat;
}

.rdio{

    background:asset-url('/images/rdio.png') no-repeat;
}

#loginForm{
  
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.8em;
}

#draftsWrapper{
  
  #unfinishedDrafts{

    margin-left: 30px;
  }
}

#albumEditWrapper{
  
  margin-left: 40px;
  margin-bottom: 20px;
}

#basic_info{
  
  .album_wizard{

    margin-left: 30px;
  }
  
  #trackResultsWrapper{

    display: none; 
    float:right; 
    padding: 20px 40px; 
    border: 2px black solid;
    box-shadow: 10px 10px 5px #888;
    width: 25%;
  }

  label{

    width: 150px;
    margin-bottom: 10px;
  }
}

#contributeWrapper{
  
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 20px;

  .list-group{

    border: 2px black solid;
    border-radius: 5px;
    margin: 25px 0;
  }

  .list-group-item{

    font-weight: bold;
  }
  
  li:nth-child(odd){

    background-color: aliceblue;
  }
}