body {
  padding-top: 70px;
}

h1 {
  font-family: 'Fauna One', serif;
  display: inline-block;
}

#manualSection{
  
  display: none;
}

.jumbotron p{
  
  margin-left: 30px;
  margin-right: 30px;
}

#obscurometer{
  
  display:inline-block;

  h6{

    display: inline-block;
    margin-right: 5px;
  }
}

.albumImage{
  
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  figure img{
    width: 200px;
    height:200px;
  }
  figcaption{
    max-width: 200px;
    text-align: center;
    font-size: 14px;
    background-color: black;
    color: white
  }

  .albumCaption{

     padding: 2px 5px;
  }

  .albumCaptionTitle{

    font-size: 17px;
    font-style: italic;
  }

  .albumCaptionArtist{

    font-size: 16px;
    padding-top: 5px;
  }

  .albumCaptionYear{

    font-size: 12px;
    min-height: 21px;
  }
}

.albumInfo td {
  font-size: 14px;
}

.albumInfo td:first-child{
  
  max-width: 200px;
}

.albumInfo table {
  width: 100%;
}

.albumHeader {
  display: inline-block;
  width: 38%;
}

.socialMediaLinks {
  margin-top: 25px;
  li {
    float: right;
  }
  a {
    height: 32px;
    width: 32px;
    margin-right: 5px;
    float: right;
  }
}

#albumIndexWrapper{
  
  position: relative;
  margin-top: 30px;
  margin-left: 10px;

  a{

    text-decoration: none;
  }

  #sortBy{

    position: absolute;
    top: -20px;
    right: 10px;
  }
}

.spotify {
    background:asset-url('/images/spotify.png') no-repeat;
}

.rdio_small{
  
  background:asset-url('/images/rdio_small.png') no-repeat;
}  

.streamBuyLinks {
  height: 35px;
}

.albumLinkIcons {
  background-size: 16px;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  float: left;
  margin-left: 4px;
}

.rightPanel {
  width: 33%;
  margin-right: 2%;
  float: right;
}

.albumArt img {
  float: left;
  padding-right: 5%;
}

.trackTitle {
  float: left;
}

.title {
  float: left;
  color: white;
}

.icon {
  background-image: url('/images/vinyl_oh.png');
  width: 27px;
  height: 27px;
  display: inline-block;
}

.content {
  text-align: justify;
  font-size: 16px;
  line-height: 1.7em;
  margin-top: 30px;
  min-height:175px;
}

#contentWrapper{
  
  margin-left: 3%;
}

#leftPanel {
  float: left;
  max-width: 63%;
  border-right: 1px solid lightgray;
  padding-right: 3%;
}

#authorNumReviews {
  margin-left: -2px;
}

#authorInfo {
  float:right;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 7px;
  margin-top:20px;
}

.authorIcons{
  
  margin-top:5px;
}

.authorIcon{
  
  margin-right: 3px;
}

.authorName {
  font-weight: bold;
}

.authorDetail {
  float: left;
  margin-left: 5px;
}

.albumInfo {
  margin: 40px 0 40px 0;
}

.postTitle {
  margin-top: 15px;
}

#relatedPostsImages {
  text-align: center;
  figure {
    width: 29%;
    height: auto;
    margin-left: 1%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
  }
  img {
    width: 60%;
  }
}

#authorPhoto {
  width: 50px;
  height: 50px;
  float: left;
}

td:not(:first-child), th:not(:first-child) {
  text-align: center;
}

#mostList {
  a {
    color: black !important;
  }
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  #menuBar {
    margin: 20px 0 0 50px !important;
    li {
      display: inline-block;
    }
  }
}

@media (max-width: 768px) {
  .rightPanel {
    display: none;
  }
  #leftPanel {
    border-right: none;
    max-width: 100%;
    margin-left: 2%;
  }
  #menuBar li {
    display: block !important;
    padding: 10px;
    &:not(:last-child) {
      border-bottom: 1px solid lightgray;
      width: 80%;
    }
  }
  .socialMediaLinks {
    float: left;
  }
}

#contentWrapper a {
  color: black !important;
  text-decoration: none !important;
  &:hover {
    color: #428bca;
  }
}

#menuContent a {
  list-style: none;
  text-decoration: none;
  color: white !important;
}

#albumsLinks {
  float: right;
}

.loginInfo{
	
	color: white;
	float: right;
	margin-left: 20px;
  margin-top: 35px;
	font-weight: bold;
}

.displayName{

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 35px;
  margin-top: 2px;
}

.albumArt img {
  width: 22vw;
}

#mostList li.active {
  font-weight: bold;
}

figcaption {
  font-family: 'Vollkorn', serif;
  font-size: 18px;
}

.mostRow {
  line-height: 2em;
}

.mouldingImage{
  
  height: 35px;
}


.externalLink{
  
  display: inline-block;
  overflow:hidden;
  width:24px;
  height:24px;
  background-size:24px;
}

.itunes{

  background:asset-url('/images/itunes.png') no-repeat;
}

.amazon{

    background:asset-url('/images/amazon.png') no-repeat;
}

.rdio{

    background:asset-url('/images/rdio.png') no-repeat;
}

.menuRow{
  
  padding: 10px;
}

.loginInfoMenu{
  
  position: relative;
  height: 30px; 
}

.loginInfoArrowIcon.loginInfoArrowIconSelected{
  
  background-image: asset-url('/images/arrow-up.png')
}

.loginInfoArrowIcon{
  
    background: asset-url('/images/arrow-down.png') no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    margin-right: 7px;
    top: 0;
}

#userMenu{
  display: none;
  width: 150px;
  background-color: #222;
  border-radius: 11px;
  text-align: left;
  font-size: 12px;
  padding: 10px;
  position:absolute;
  right: 5px;
}

.displayNameArrow{
  
  font-size: 1.1em;
  color: #fff;
  height: 24px;
  line-height: 24px;
  cursor:pointer;
  max-width:175px;
  width:auto;
}

.displayNameArrow:hover span{

  color: lightskyblue !important;
}

.menuRow:hover{
  
  color: lightskyblue;
}

.avatarImage{
  
  margin-right: 5px;
}

.login{
  
  display: inline-block;
}

.loginField{
  
  border-radius: 5px;
  color: black;
}

.loginButton{
  
  color: black;
  background-color: #a5b8da;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
  background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
  background-image: linear-gradient(top, #a5b8da, #7089b3);
  border-top: 1px solid #758fba;
  border-right: 1px solid #6c84ab;
  border-bottom: 1px solid #5c6f91;
  border-left: 1px solid #6c84ab;
  border-radius: 18px;
  -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
  box-shadow: inset 0 1px 0 0 #aec3e5;
  color: #fff;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 4px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #64799e;
  width: 60px;
}

.loginLinks{
  
  margin-top: 3px;

  .forgotPasswordLink{

    float: right;
  }
}

#loginForm{
  
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.8em;
}

#draftsWrapper{
  
  #unfinishedDrafts{

    margin-left: 30px;
  }
}

#albumEditWrapper{
  
  margin-left: 40px;
  margin-bottom: 20px;
}

#basic_info{
  
  .album_wizard{

    margin-left: 30px;
  }
  
  #trackResultsWrapper{

    display: none; 
    float:right; 
    padding: 20px 40px; 
    border: 2px black solid;
    box-shadow: 10px 10px 5px #888;
    width: 25%;
  }

  label{

    width: 150px;
    margin-bottom: 10px;
  }
}

#contributeWrapper{
  
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 20px;

  .list-group{

    border: 2px black solid;
    border-radius: 5px;
    margin: 25px 0;
  }

  .list-group-item{

    font-weight: bold;
  }
  
  li:nth-child(odd){

    background-color: aliceblue;
  }
}