body {
  padding-top: 70px;
}

h1 {
  font-family: 'Fauna One', serif;
  display: inline-block;
}

sup {
  vertical-align: text-top;
  color: white;
}

#manualSection{
  
  display: none;
}

#obscurometer{
  
  display:inline-block;

  h6{

    display: inline-block;
    margin-right: 5px;
  }
}

.albumImage{
  
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  figure img{
    width: 200px;
    height:200px;
  }
  figcaption{
    max-width: 200px;
    text-align: center;
    font-size: 14px;
    background-color: black;
    color: white
  }

  .albumCaption{

     padding: 2px 5px;
  }

  .albumCaptionTitle{

    font-size: 17px;
    font-style: italic;
  }

  .albumCaptionArtist{

    font-size: 16px;
    padding-top: 5px;
  }

  .albumCaptionYear{

    font-size: 12px;
    min-height: 21px;
  }
}

.albumInfo td {
  font-size: 14px;
}

.albumInfo td:first-child{
  
  max-width: 200px;
}

.albumInfo table {
  width: 100%;
}

.albumHeader {
  display: inline-block;
  width: 38%;
}

.socialMediaLinks {
  margin-top: 25px;
  li {
    float: right;
  }
  a {
    height: 32px;
    width: 32px;
    margin-right: 5px;
    float: right;
  }
}

#albumIndexWrapper{
  
  position: relative;
  margin-top: 30px;

  #sortBy{

    position: absolute;
    top: -20px;
    right: 10px;
  }
}

.fbLink {
  background-image: url(https://cdn2.iconfinder.com/data/icons/New-Social-Media-Icon-Set-V11/64/facebook.png);
  background-size: 32px;
  background-repeat: no-repeat;
}

.twitterLink {
  background-image: url(https://cdn2.iconfinder.com/data/icons/New-Social-Media-Icon-Set-V11/64/twitter.png);
  background-size: 32px;
  background-repeat: no-repeat;
}

.spotify {
  background-image: url(https://cdn4.iconfinder.com/data/icons/free-colorful-icons/128/spotify.png);
}

.streamBuyLinks {
  height: 35px;
}

.albumLinkIcons {
  background-size: 25px;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  float: left;
}

.rightPanel {
  width: 33%;
  margin-right: 2%;
  float: right;
}

.albumArt img {
  float: left;
  padding-right: 5%;
}

.trackTitle {
  float: left;
}

.title {
  float: left;
  color: white;
}

.icon {
  background-image: url('/images/vinyl_oh.png');
  width: 27px;
  height: 27px;
  display: inline-block;
}

.content {
  text-align: justify;
  font-size: 16px;
  line-height: 1.7em;
  margin-top: 30px;
  min-height:175px;
}

#contentWrapper{
  
  margin-left: 3%;
}

#leftPanel {
  float: left;
  max-width: 63%;
  border-right: 1px solid lightgray;
  padding-right: 3%;
}

#authorNumReviews {
  margin-left: -2px;
}

#authorInfo {
  float:right;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 7px;
  margin-top:20px;
}

.authorIcons{
  
  margin-top:5px;
}

.authorIcon{
  
  margin-right: 3px;
}

.authorName {
  font-weight: bold;
}

.authorDetail {
  float: left;
  margin-left: 5px;
}

.albumInfo {
  margin: 40px 0 40px 0;
}

.postTitle {
  margin-top: 15px;
}

#relatedPostsImages {
  text-align: center;
  figure {
    width: 29%;
    height: auto;
    margin-left: 1%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
  }
  img {
    width: 60%;
  }
}

#authorPhoto {
  width: 50px;
  height: 50px;
  float: left;
}

td:not(:first-child), th:not(:first-child) {
  text-align: center;
}

#mostList {
  a {
    color: black !important;
  }
  margin-bottom: 15px;
}

@media (max-width: 420px) {
  .albumArt {
    display: none;
  }
}

@media (min-width: 1024px) {
  #menuBar {
    margin: 20px 0 0 50px !important;
    li {
      display: inline-block;
    }
  }
}

@media (max-width: 1024px) {
  .rightPanel {
    display: none;
  }
  #leftPanel {
    border-right: none;
    max-width: 100%;
    margin-left: 2%;
  }
  .socialMediaLinks {
    position: absolute;
    right: 0px;
    top: 100px;
    li {
      float: none;
    }
    a {
      margin-bottom: 20px;
    }
  }
  #menuBar li {
    display: block !important;
    padding: 10px;
    &:not(:last-child) {
      border-bottom: 1px solid lightgray;
      width: 80%;
    }
  }
  .socialMediaLinks {
    float: left;
  }
}

a {
  color: black !important;
  text-decoration: none !important;
  &:hover {
    color: #428bca;
  }
}

#menuContent a {
  list-style: none;
  text-decoration: none;
  color: white !important;
}

#albumsLinks {
  float: right;
}

.loginInfo{
	
	color: white;
	float: right;
	margin-left: 20px;
  margin-top: 35px;
	font-weight: bold;
}

.albumArt img {
  width: 22vw;
}

#mostList li.active {
  font-weight: bold;
}

figcaption {
  font-family: 'Vollkorn', serif;
  font-size: 18px;
}

.mostRow {
  line-height: 2em;
}

.mouldingImage{
  
  height: 35px;
}

.itunes{
  
  display: inline-block;
  overflow:hidden;
  background:asset-url('/images/itunes.png') no-repeat;
  width:66px;
  height:32px;
  background-size:66px;
}

.menuRow{
  
  padding: 10px;
}

.loginInfoMenu{
  
  position: relative;
  height: 30px; 
  width:130px;
}

.loginInfoArrowIcon.loginInfoArrowIconSelected{
  
  background-image: asset-url('/images/arrow-up.png')
}

.loginInfoArrowIcon{
  
    background: asset-url('/images/arrow-down.png') no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    margin-right: 7px;
    top: 0;
}

#userMenu{
  display: none;
  width: 130px;
  background-color: #222;
  border-radius: 11px;
  text-align: left;
  font-size: 12px;
  padding: 10px;
}

.displayNameArrow{
  
  font-size: 1.1em;
  color: #fff;
  height: 24px;
  line-height: 24px;
  cursor:pointer;
}

.displayNameArrow:hover span{

  color: lightskyblue !important;
}

.menuRow:hover{
  
  color: lightskyblue;
}

.avatarImage{
  
  margin-right: 5px;
}