body {
  padding-top: 70px;
}

h1 {
  font-family: 'Fauna One', serif;
  display: inline-block;
}

sup {
  vertical-align: text-top;
  color: white;
}

#manualSection{
  
  display: none;
}

#obscurometer{
  
  display:inline-block;

  h6{

    display: inline-block;
    margin-right: 5px;
  }
}

.albumImage{
  
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  figure img{
    width: 200px;
    height:200px;
  }
  figcaption{
    max-width: 200px;
    text-align: center;
    font-size: 14px;
    background-color: black;
    color: white
  }

  .albumCaption{

     padding: 2px 5px;
  }

  .albumCaptionTitle{

    font-size: 17px;
    font-style: italic;
  }

  .albumCaptionArtist{

    font-size: 16px;
    padding-top: 5px;
  }

  .albumCaptionYear{

    font-size: 12px;
    min-height: 21px;
  }
}

.albumInfo td {
  font-size: 14px;
}

.albumInfo td:first-child{
  
  max-width: 200px;
}

.albumInfo table {
  width: 100%;
}

.albumHeader {
  display: inline-block;
  width: 38%;
}

.socialMediaLinks {
  margin-top: 25px;
  li {
    float: right;
  }
  a {
    height: 32px;
    width: 32px;
    margin-right: 5px;
    float: right;
  }
}

#albumIndexWrapper{
  
  position: relative;
  margin-top: 30px;

  #sortBy{

    position: absolute;
    top: -20px;
    right: 10px;
  }
}

.fbLink {
  background-image: url(https://cdn2.iconfinder.com/data/icons/New-Social-Media-Icon-Set-V11/64/facebook.png);
  background-size: 32px;
  background-repeat: no-repeat;
}

.twitterLink {
  background-image: url(https://cdn2.iconfinder.com/data/icons/New-Social-Media-Icon-Set-V11/64/twitter.png);
  background-size: 32px;
  background-repeat: no-repeat;
}

.spotify {
  background-image: url(https://cdn4.iconfinder.com/data/icons/free-colorful-icons/128/spotify.png);
}

.streamBuyLinks {
  height: 35px;
}

.albumLinkIcons {
  background-size: 25px;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  float: left;
}

.rightPanel {
  width: 33%;
  margin-right: 2%;
  float: right;
}

.albumArt img {
  float: left;
  padding-right: 5%;
}

.trackTitle {
  float: left;
}

.title {
  float: left;
  color: white;
}

.icon {
  background-image: url(http://png-5.findicons.com/files/icons/2315/default_icon/256/media_vinyl_45_inv.png);
  background-size: 32px;
  width: 27px;
  height: 27px;
  display: inline-block;
}

.content {
  text-align: justify;
  font-size: 16px;
  line-height: 1.7em;
  margin-top: 30px;
  min-height:175px;
}

#leftPanel {
  float: left;
  max-width: 63%;
  border-right: 1px solid lightgray;
  padding-right: 3%;
}

.contentWrapper {
  margin-left: 2%;
}

#authorNumReviews {
  margin-left: -2px;
}

#authorInfo {
  float:right;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 7px;
  margin-top:20px;
}

.authorIcons{
  
  margin-top:5px;
}

.authorIcon{
  
  margin-right: 3px;
}

.authorName {
  font-weight: bold;
}

.authorDetail {
  float: left;
  margin-left: 5px;
}

.albumInfo {
  margin: 40px 0 40px 0;
}

.postTitle {
  margin-top: 15px;
}

#relatedPostsImages {
  text-align: center;
  figure {
    width: 29%;
    height: auto;
    margin-left: 1%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
  }
  img {
    width: 60%;
  }
}

#authorPhoto {
  width: 50px;
  height: 50px;
  float: left;
}

td:not(:first-child), th:not(:first-child) {
  text-align: center;
}

#mostList {
  a {
    color: black !important;
  }
  margin-bottom: 15px;
}

@media (max-width: 420px) {
  .albumArt {
    display: none;
  }
}

@media (min-width: 1024px) {
  #menuBar {
    margin: 20px 0 0 50px !important;
    li {
      display: inline-block;
    }
  }
}

@media (max-width: 1024px) {
  .rightPanel {
    display: none;
  }
  #leftPanel {
    border-right: none;
    max-width: 100%;
  }
  .socialMediaLinks {
    position: absolute;
    right: 0px;
    top: 100px;
    li {
      float: none;
    }
    a {
      margin-bottom: 20px;
    }
  }
  #menuBar li {
    display: block !important;
    padding: 10px;
    &:not(:last-child) {
      border-bottom: 1px solid lightgray;
      width: 80%;
    }
  }
  .socialMediaLinks {
    float: left;
  }
}

a {
  color: black !important;
  text-decoration: none !important;
  &:hover {
    color: #428bca;
  }
}

#menuContent a {
  list-style: none;
  text-decoration: none;
  color: white !important;
}

#albumsLinks {
  float: right;
}

.loginInfo{
	
	color: white;
	float: right;
	margin-top: 7px;
	margin-left: 20px;
	font-weight: bold;
}

.albumArt img {
  width: 22vw;
}

#mostList li.active {
  font-weight: bold;
}

figcaption {
  font-family: 'Vollkorn', serif;
  font-size: 18px;
}

.mostRow {
  line-height: 2em;
}

/** shareable part */
nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/