// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#artistsWrapper{
	
	#filterSearch{

		margin: 20px;
		margin-right: 4%;
		float: right;
	}

	table{
		
		width: 96%;
		margin-bottom: 30px;

		td:not(:first-child){

			vertical-align: middle !important;	
		}

		th, td:not(:first-child):not(:last-child){

			text-align: left;
			width:auto;
		}

		th, td:first-child{

			min-width: 67px;
		}

		.boldColumn{

			font-weight: bold;
		}
	}

	margin: 0 20px;
}

