#menuBar a {
  font-size: 22px;
  font-family: 'Fauna One', serif;
}

.navbar-header a{
	
	list-style: none;
  	text-decoration: none;
  	color: white !important;
}

#menuBar li.activeTab a{

	color: lightskyblue !important;
}

@media(min-width: 1024px){

	.loginInfo{

		display: block;
	}

	.signInMobile{

		display: none !important;
	}
}

@media(max-width: 623px){
	
	h1{

		font-size: 24px;
	}
}

@media(max-width: 1024px){
	
	.signInMobile{

		display: block;
	}

	.loginInfo{

		display: none;
	}
}