#userWrapper{
	
	margin-left: 15px;

	td.accepted{

		color: green;
	}

	td.rejected{

		color:red;
	}

	td.pending_review{

		color:orange;
	}
}

#newUserWrapper{ 

	margin-left: 30px;

	form{
	
		width:75%;
	}
}

#loginPage{
	
	margin-left: 40px;
	width:80%;
}
