#userWrapper{
	
	margin-left: 15px;

	#userAvatarImg{

		display: inline-block; 
		margin: 20px 10px;
	}

	h4{

		display: inline-block;
	}

	td.accepted{

		color: green;
	}

	td.rejected{

		color:red;
	}

	td.pending_review{

		color:orange;
	}
}

#newUserWrapper{ 

	margin-left: 30px;

	form{
	
		width:75%;
	}
}

#loginPage{
	
	margin-left: 40px;
	width:80%;
}

#editProfile{
	
	margin-left: 30px;
	margin-bottom: 30px;

	.editProfileTabPane{

		 margin-left: 10px; 
		 padding-bottom: 20px; 
		 border-bottom: 1px lightgrey solid;
	}

	.field{

		margin-bottom: 10px;
	}
}
