<p class="bg-info" style="padding: 10px;">Note: ObscureAlbums.com uses external services to host its playlists.</p>

<div id="albumIndexWrapper">
	<div id="albums">
		 <% @playlists.each do | playlist | %>
		    <div class="albumImage">
				<%= link_to playlist_path(playlist) do %>
					<figure>
						<%= image_tag(playlist.image_url, :class => 'albumArt', :width => 200, lazy:true) %>
					</figure>
					<figcaption>
						<div class="albumCaption albumCaptionArtist"><%= playlist.name %></div>
						<div class="albumCaption albumCaptionTitle">Title</div>
						<div class="albumCaption albumCaptionYear">Year</div>
					</figcaption>
				<% end %>
			</div>
		  <% end %>
	</div>
</div>

