<div id="playlistWrapper">

	  <p class="lead">Playlists on an album site?  I guess it's OK.  Just select the site the playlist is hosted on from the options below (and maybe add a few words if you're that way inclined). Any questions, or requests for new playlist services: <%= link_to 'get in touch', new_contact_path %>.</p>
	<%= render 'form' %>

</div>
